Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(gateway-api): migrate more ingresses to HTTPRoute (#2750)
  kubernetes/main/apps/default/forgejo/app/auth-ingress.yaml
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/default/forgejo/app/httproute.yaml
  kubernetes/main/apps/default/forgejo/app/kustomization.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

fix(forgejo): set service protocol and domain
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(forgejo): ROOT_URL it is
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate more ingresses to HTTPRoute
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/kustomization.yaml
  kubernetes/main/apps/default/esphome/app/securitypolicy.yaml
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate more ingresses to HTTPRoute (#2751)
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/kustomization.yaml
  kubernetes/main/apps/default/esphome/app/securitypolicy.yaml
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

fix: me stupid
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): disable ingress outpost component
  terraform/authentik/outposts.tf
Labels: area/terraform

feat(gateway-api): migrate last ingresses to HTTPRoute
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/httproute.yaml
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(gateway-api): migrate last ingresses to HTTPRoute (#2752)
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/httproute.yaml
  kubernetes/main/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: archive ingress-nginx and fully switch to envoy-gateway
  .archive/kubernetes/main/apps/networking/nginx/certificates/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/certificates/production.yaml
  .archive/kubernetes/main/apps/networking/nginx/certificates/staging.yaml
  .archive/kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/nginx/external/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/nginx/internal/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/ingress-nginx.yaml
  README.md
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/ansible, area/docs, area/kubernetes, cluster/main, cluster/storage

chore: archive ingress-nginx and fully switch to envoy-gateway (#2753)
  .archive/kubernetes/main/apps/networking/nginx/certificates/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/certificates/production.yaml
  .archive/kubernetes/main/apps/networking/nginx/certificates/staging.yaml
  .archive/kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/nginx/external/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/nginx/internal/kustomization.yaml
  .archive/kubernetes/main/apps/networking/nginx/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/ingress-nginx.yaml
  README.md
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/ansible, area/docs, area/kubernetes, cluster/main, cluster/storage

feat(grafana): add envoy dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(envoy-gateway): monitor proxies and controller
  kubernetes/main/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/main/apps/networking/envoy-gateway/app/servicemonitor.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(networking): add not-found HTTPRouteFilter
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/components/not-found/httproutefilter.yaml
Labels: area/kubernetes, cluster/main

feat(static-content): replace with Gateway API config
  .archive/kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/static-content/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/static-content/app/resources/nginx.conf
  .archive/kubernetes/main/apps/default/static-content/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/static-content.yaml
Labels: area/kubernetes, cluster/main

feat(static-content): replace with Gateway API config (#2754)
  .archive/kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/static-content/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/static-content/app/resources/nginx.conf
  .archive/kubernetes/main/apps/default/static-content/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/static-content.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): set href for gatus and forgejo
  kubernetes/main/apps/default/forgejo/app/httproute.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(kubernetes-schemas): bump digest to fix 404s
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(kubernetes-schemas): add BackendTrafficPolicy
  kubernetes/main/apps/default/kubernetes-schemas/app/backendtrafficpolicy.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/static-content.yaml
Labels: area/kubernetes, cluster/main

fix(publish-schemas): clear out bundled nginx html files
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(publish-schemas): delete things as root
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(kubernetes-schemas): bump digest
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kubernetes-schemas): simplify HTTPRoute config
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(kubernetes-schemas): update BackendTrafficPolicy
  kubernetes/main/apps/default/kubernetes-schemas/app/backendtrafficpolicy.yaml
Labels: area/kubernetes, cluster/main

fix(kubernetes-schemas): override status code too
  kubernetes/main/apps/default/kubernetes-schemas/app/backendtrafficpolicy.yaml
Labels: area/kubernetes, cluster/main

fix(bootstrap): use experimental Gateway API CRDs
  .taskfiles/Cluster/resources/bootstrap.sh
Labels: none

chore(nextcloud): securityContext for cronjob sidecar
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: archive event-exporter
  .archive/kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/event-exporter/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/event-exporter/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/bitnami.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: archive event-exporter (#2794)
  .archive/kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/event-exporter/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/event-exporter/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/bitnami.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: use sops for managing workflow secrets
  .github/actions/sops-exec-env/action.yaml
  .github/secrets/publish-schemas.sops.env
  .github/workflows/publish-schemas.yaml
  .sops.yaml
Labels: area/github

feat: use sops for managing workflow secrets (#2795)
  .github/actions/sops-exec-env/action.yaml
  .github/secrets/publish-schemas.sops.env
  .github/workflows/publish-schemas.yaml
  .sops.yaml
Labels: area/github

fix(github): run checkout in publish-schemas workflow
  .github/workflows/publish-schemas.yaml
Labels: area/github

feat: use shared sops-exec-env action
  .github/actions/sops-exec-env/action.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(github): explicitly set up sops
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(github): dash it
  .github/workflows/publish-schemas.yaml
Labels: area/github

feat: expose secrets to followup steps
  .github/actions/sops-get-env/action.yml
  .github/secrets/sops-test.sops.env
  .github/workflows/sops-test.yaml
Labels: area/github

fix(kps): set alertmanager scheme in storage cluster
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(it-tools): update subdomain
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(it-tools): adjust gatus subdomain
  kubernetes/main/apps/default/it-tools/ks.yaml
Labels: area/kubernetes, cluster/main

fix(github): update sops-exec-env inputs
  .github/workflows/publish-schemas.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
