Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

chore: remove dragonfly-operator (#3976)
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
  kubernetes/main/apps/database/dragonfly/ks.yaml
  kubernetes/main/apps/database/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/main

chore: archive zot
  .archive/kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/zot/app/kustomization.yaml
  .archive/kubernetes/storage/apps/default/zot/app/resources/config.json
  .archive/kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore: archive fritz-exporter
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/secret.sops.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/ks.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: archive zot (#3977)
  .archive/kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/zot/app/kustomization.yaml
  .archive/kubernetes/storage/apps/default/zot/app/resources/config.json
  .archive/kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore: archive fritz-exporter (#3978)
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/app/secret.sops.yaml
  .archive/kubernetes/main/apps/monitoring/fritz-exporter/ks.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart cilium ( 1.19.6 → 1.20.1 ) (#3979)"
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

Reapply "feat(helm): update chart cilium ( 1.19.6 → 1.20.1 ) (#3979)"
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

fix(alerting): silence more flaky-internet stuff
  kubernetes/main/components/common/notifications/alertmanager/alert.yaml
  kubernetes/storage/components/common/notifications/alertmanager/alert.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(homepage): remove dead link
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

fix(longhorn): disable network policies
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart external-dns ( 1.21.1 → 1.22.0 ) (#4012)"
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart external-dns ( 1.21.1 → 1.22.0 ) (#4013)"
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

chore(external-dns): migrate annotations
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/addons/webhooks/github/service.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(external-dns): migrate annotations (#4019)
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/addons/webhooks/github/service.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Reapply "feat(helm): update chart external-dns ( 1.21.1 → 1.22.0 ) (#4012)"
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(helm): update chart external-dns ( 1.21.1 → 1.22.0 ) (#4013)"
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(k3s): disable bundled gateway-api-crd chart
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
Labels: area/ansible, cluster/main, cluster/storage

fix(terraform): add missing redirect_uri_type to authentik_provider_oauth2 resources
  terraform/authentik/modules/oauth2-application/main.tf
Labels: area/terraform

chore: archive vikunja
  .archive/kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore: archive vikunja (#4020)
  .archive/kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
