Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(kopia): rename `kopia` to `kopia-b2`
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
  terraform/authentik/applications.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(kopia): rename `kopia` to `kopia-b2` (#1579)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
  terraform/authentik/applications.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(kopia): add ingress
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(kopia): add ingress (#1580)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(terraform): enable kopia basic auth via authentik
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/modules/proxy-application/main.tf
  terraform/authentik/modules/proxy-application/variables.tf
  terraform/authentik/secrets.tf
  terraform/authentik/system.tf
Labels: area/kubernetes, area/terraform, cluster/storage

feat(terraform): enable kopia basic auth via authentik (#1581)
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/modules/proxy-application/main.tf
  terraform/authentik/modules/proxy-application/variables.tf
  terraform/authentik/secrets.tf
  terraform/authentik/system.tf
Labels: area/kubernetes, area/terraform, cluster/storage

fix(kopia): update repository certificate
  kubernetes/storage/apps/default/kopia/local/certificate.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia): forward Authorization header to backend
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-b2): switch to end-to-end TLS
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/b2/certificate.yaml
  kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(homepage): remove widgets
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

fix(kopia-b2): switch to end-to-end TLS (#1582)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/kopia/b2/certificate.yaml
  kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(kopia): add prometheus rules
  kubernetes/storage/apps/default/kopia/common/kustomization.yaml
  kubernetes/storage/apps/default/kopia/common/prometheusrule.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia): disable KopiaNoUpload prometheus rule for now
  kubernetes/storage/apps/default/kopia/common/prometheusrule.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia): separate prometheus rules for local and b2
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/b2/prometheusrule.yaml
  kubernetes/storage/apps/default/kopia/common/kustomization.yaml
  kubernetes/storage/apps/default/kopia/ks.yaml
  kubernetes/storage/apps/default/kopia/local/kustomization.yaml
  kubernetes/storage/apps/default/kopia/local/prometheusrule.yaml
Labels: area/kubernetes, cluster/storage

refactor(terraform): simplify secret management
  terraform/authentik/.envrc
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
  terraform/kubernetes/secrets/main.tf
  terraform/minio/.envrc
  terraform/minio/main.tf
Labels: area/terraform

refactor(terraform): separate file for authentik outposts
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/terraform

refactor(terraform): sort authentik apps by provider + name
  terraform/authentik/applications.tf
Labels: area/terraform

feat(storage): install restic rest-server
  kubernetes/storage/apps/default/restic/app/certificate.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/kustomization.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): install restic rest-server (#1593)
  kubernetes/storage/apps/default/restic/app/certificate.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/kustomization.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
Labels: area/kubernetes, cluster/storage

fix(restic): adjust service monitor port
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(restic): skip tls verification on metrics endpoint
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): install backrest
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): install backrest (#1594)
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): add persistence
  kubernetes/storage/apps/default/backrest/app/claim.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): add auth
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

fix(backrest): correct logs path and add secret
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
  kubernetes/storage/apps/default/backrest/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(backrest): mount restic repositories RW
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): add b2/minio secrets
  kubernetes/storage/apps/default/backrest/app/secret.sops.yaml
  kubernetes/storage/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): add service monitor
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(authentik): update backrest icon_url
  terraform/authentik/applications.tf
Labels: area/terraform

fix(authentik): update forgejo launch_url
  terraform/authentik/applications.tf
Labels: area/terraform

fix(kpoia): disable alerts
  kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  kubernetes/storage/apps/default/kopia/local/kustomization.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): manage config as yaml file
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(backrest): manage config as yaml file (#1598)
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

chore(backrest): update config
  kubernetes/storage/apps/default/backrest/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(restic): manage users via secret
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/kustomization.yaml
  kubernetes/storage/apps/default/restic/app/resources/init.sh
  kubernetes/storage/apps/default/restic/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(restic): manage users via secret (#1604)
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/kustomization.yaml
  kubernetes/storage/apps/default/restic/app/resources/init.sh
  kubernetes/storage/apps/default/restic/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(restic): create restic-users secret
  kubernetes/storage/apps/default/restic/app/kustomization.yaml
Labels: area/kubernetes, cluster/storage

fix(restic): make user management more robust
  kubernetes/storage/apps/default/restic/app/resources/init.sh
  kubernetes/storage/apps/default/restic/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(github-mirror): don't keep successful job history
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
