Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

chore(wireguard): drop ipv6 prefixes
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix(wireguard): IPv6-friendly MTU
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

chore: remove obsolete DNSEndpoint
  kubernetes/main/apps/networking/external-dns/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore: archive k8s-gateway
  .archive/kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/k8s-gateway/app/kustomization.yaml
  .archive/kubernetes/main/apps/networking/k8s-gateway/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/k8s-gateway.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/app/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  .archive/kubernetes/storage/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: archive k8s-gateway (#3644)
  .archive/kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  .archive/kubernetes/main/apps/networking/k8s-gateway/app/kustomization.yaml
  .archive/kubernetes/main/apps/networking/k8s-gateway/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/k8s-gateway.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/app/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  .archive/kubernetes/storage/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(home-assistant): resize volume
  kubernetes/main/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/home-operations/gatus-sidecar ( …"
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/home-operations/gatus-sidecar ( …" (#3693)
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(publish-schemas): update kubeconfig
  .github/secrets/publish-schemas.sops.env
Labels: area/github

chore(container): update image ghcr.io/martinohmann/kubernetes-schemas ( 8a808be → 5ee4a92 )
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: increase gatus-sidecar memory limit
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(nextcloud): I give up for now
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationdestination.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart nextcloud ( 9.0.4 → 9.1.1 ) (#3707)"
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationdestination.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(helm): update chart nextcloud ( 9.0.4 → 9.1.1 ) (#3707)"
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationdestination.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

fix(nextcloud): remove redis dependency
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(nextcloud): remove redis password
  kubernetes/main/apps/default/nextcloud/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(nextcloud): me stupid
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(gatus): update check intervals
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main

chore(blackbox-exporter): remove smart-meter probe
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

fix(dragonfly): update rbac permissions
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(github-release): update dragonfly group (#3727)"
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(github-release): update dragonfly group (#3727)" (#3785)
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix(fritz-exporter): set listen address
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update image ghcr.io/home-operations/home-assistant ( 2026.6.4 → 2026.7.0 ) (#3786)"
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(alerts): silence more timeouts
  kubernetes/main/components/common/notifications/alertmanager/alert.yaml
  kubernetes/storage/components/common/notifications/alertmanager/alert.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(alerts): silence transient TLS handshake errors
  kubernetes/main/components/common/notifications/alertmanager/alert.yaml
  kubernetes/storage/components/common/notifications/alertmanager/alert.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(renovate): automerge more things
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "feat(helm): update chart cilium ( 1.19.6 → 1.20.1 ) (#3894)"
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

chore(forgejo): remove dependency on redis
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart authentik ( 2026.5.6 → 2026.8.1 ) (#3950)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(helm): update chart authentik ( 2026.5.6 → 2026.8.1 ) (#3950)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative-pg): increase CPU request
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/main

chore(cloudnative-pg): decrease CPU request
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/main

chore(forgejo): remove dependency on redis (#3974)
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: remove unnecessary dragonfly-cluster deps
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/main

chore(dragonfly): scale down cluster
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

chore(dragonfly): remove monitoring
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(dragonfly): decommission cluster
  .archive/kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/kustomization.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/networkpolicy.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/secret.sops.yaml
  kubernetes/main/apps/database/dragonfly/ks.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

chore(dragonfly): decommission cluster (#3975)
  .archive/kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/kustomization.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/networkpolicy.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
  .archive/kubernetes/main/apps/database/dragonfly/cluster/secret.sops.yaml
  kubernetes/main/apps/database/dragonfly/ks.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

chore: remove dragonfly-operator
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
  kubernetes/main/apps/database/dragonfly/ks.yaml
  kubernetes/main/apps/database/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/main
