Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

fix(z2m): use old frontend package
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): update worker resource requests
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): update server resource requests
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(external-apps): load balance pve by source ip
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10 →…"
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10 →…" (#2900)
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(storage): remove gateway-api-crds
  kubernetes/storage/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/ks.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): suspend backrest helmrelease
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): temporarily remove backrest helmrelease
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): reinstall backrest helmrelease
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(main): suspend gateway-api-crds helmrelease
  kubernetes/main/apps/networking/gateway-api-crds/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): remove gateway-api-crds helmrelease
  kubernetes/main/apps/networking/gateway-api-crds/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(main): remove gateway-api-crds kustomization
  kubernetes/main/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/main/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/main/apps/networking/gateway-api-crds/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(weather-landscape): update prometheusrule
  kubernetes/main/apps/default/weather-landscape/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

feat: install garage
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/kustomization.yaml
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
  kubernetes/storage/apps/default/garage/app/secret.sops.yaml
  kubernetes/storage/apps/default/garage/ks.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/kustomization.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/storage

feat: install garage (#2923)
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/kustomization.yaml
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
  kubernetes/storage/apps/default/garage/app/secret.sops.yaml
  kubernetes/storage/apps/default/garage/ks.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/kustomization.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/storage

fix(garage): update secrets
  kubernetes/storage/apps/default/garage/app/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(garage): namespace
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(garage): expose API
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(garage): update hostnames
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
Labels: area/kubernetes, cluster/storage

fix(garage): no dedicated subdomain for now
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
Labels: area/kubernetes, cluster/storage

feat(homepage): add garage
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

feat(garage): enable s3_web
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
Labels: area/kubernetes, cluster/storage

fix(garage): add missing root_domain
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
Labels: area/kubernetes, cluster/storage

fix(garage): add missing leading dot in root domains
  kubernetes/storage/apps/default/garage/app/resources/configuration.toml
Labels: area/kubernetes, cluster/storage

fix(jellyfin): mount empty dir to `/tmp`
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(jellyfin): mount empty dir to `/tmp` (#2931)
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10…"
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10…" (#2952)
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(gatus): make /tmp an empty dir
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10…"
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image ghcr.io/kiwigrid/k8s-sidecar ( 1.30.10…" (#2954)
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): remove redis config
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): remove redis config (#2956)
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat: install app-template ocirepository
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/repos/app-template.yaml
  kubernetes/main/components/common/repos/kustomization.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/repos/app-template.yaml
  kubernetes/storage/components/common/repos/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install app-template ocirepository (#2957)
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/repos/app-template.yaml
  kubernetes/main/components/common/repos/kustomization.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/repos/app-template.yaml
  kubernetes/storage/components/common/repos/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(storage): migrate to app-template v4
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): migrate to app-template v4 (#2958)
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(main): migrate to app-template-v4 batch 1
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 1 (#2959)
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
