Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

feat: install esphome
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/kustomization.yaml
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main

feat: install esphome (#1619)
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/kustomization.yaml
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore(esphome): expose API
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(esphome): disable probes for now
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(esphome): add secrets
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/kustomization.yaml
  kubernetes/main/apps/default/esphome/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(esphome): reenable probes
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(esphome): enable auth
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore(homepage): update config
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

fix(thanos): replace configmap-reload image
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(taskfile): add cluster:images:list command
  .taskfiles/Cluster/Taskfile.yaml
Labels: none

chore: update schema hint too
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(terraform): migrate authentik_provider_oauth2 redirect_uris
  terraform/authentik/modules/oauth2-application/main.tf
Labels: area/terraform

Revert "fix(thanos): replace configmap-reload image"
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(esphome): use ping in dashboard
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: align code-server versions of esphome and home-assistant
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(dragonfly): set dbfilename
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

docs: update README.md
  README.md
Labels: area/docs

chore: uninstall kopia
  .archive/kubernetes/storage/apps/default/kopia/b2/certificate.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/prometheusrule.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  .archive/kubernetes/storage/apps/default/kopia/ks.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/certificate.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/kustomization.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/prometheusrule.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/outposts.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/storage

chore: uninstall kopia (#1671)
  .archive/kubernetes/storage/apps/default/kopia/b2/certificate.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/kustomization.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/prometheusrule.yaml
  .archive/kubernetes/storage/apps/default/kopia/b2/secret.sops.yaml
  .archive/kubernetes/storage/apps/default/kopia/ks.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/certificate.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/kustomization.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/prometheusrule.yaml
  .archive/kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/outposts.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/storage

Revert "feat(helm)!: Update snapshot-controller ( 3.0.6 → 4.0.0 ) (#1694)"
  kubernetes/main/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm)!: Update snapshot-controller ( 3.0.6 → 4.0.0 ) (#1694)" (#1695)
  kubernetes/main/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-controller-manager): limit concurrent-gc-syncs
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
Labels: area/ansible, cluster/main, cluster/storage

fix(dragonfly): set fallback scrape protocol
  kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/main

fix(authentik): trailing slash is mandatory now
  terraform/authentik/outposts.tf
Labels: area/terraform

feat: reinstall weave-gitops
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/rbac.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/weave-gitops.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/rbac.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/weave-gitops.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

feat: reinstall weave-gitops (#1732)
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/rbac.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/weave-gitops.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/rbac.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/weave-gitops.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

fix(weave-gitops): correct storage kustomization path
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes, cluster/storage

chore(kubernetes): archive capacitor
  .archive/kubernetes/main/apps/flux-system/capacitor/app/helmrelease.yaml
  .archive/kubernetes/main/apps/flux-system/capacitor/app/kustomization.yaml
  .archive/kubernetes/main/apps/flux-system/capacitor/app/rbac.yaml
  .archive/kubernetes/main/apps/flux-system/capacitor/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/storage/apps/flux-system/capacitor/ks.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(weave-gitops): set tokenDuration
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(weave-gitops): switch to OIDC only auth
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(weave-gitops): switch to OIDC only auth (#1737)
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(dragonfly): set fallbackScrapeProtocol
  kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/main

fix(dragonfly): remove fallbackScrapeProtocol
  kubernetes/main/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/main

chore(weave-gitops): increase memory limit
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(weave-gitops): custom tokenDuration is not honored anyways
  kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(homepage): add gitops section
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: me stupid
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(homepage): use selfhosted backrest icon
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

fix(terraform): adjust secrets refs
  terraform/authentik/secrets.tf
Labels: area/terraform

chore(homepage): adjust layout
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
