Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

feat: forward cli args to bootstrap
  .taskfiles/Cluster/Taskfile.yaml
Labels: none

feat: better volsync job alert
  kubernetes/main/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

feat(external-dns): trigger loop on event
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(cloudflare): do not block UptimeRobot
  terraform/cloudflare/firewall.tf
Labels: area/terraform

feat: install unifi controller
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/main

feat: install unifi controller (#1977)
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/main

fix: update outdated yaml lsp annotations
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(external-apps): resolve name clash
  kubernetes/main/apps/networking/external-apps/config/unifi.yaml
Labels: area/kubernetes, cluster/main

feat(unifi): use custom certificate
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/main

feat(unifi): use custom certificate (#1978)
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/main

feat(unifi): use 443 for HTTPS
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(unifi): switch to incluster controller
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/unifi.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(unifi): switch to incluster controller (#1979)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/unifi.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(external-apps): attach gethomepage annotations
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
Labels: area/kubernetes, cluster/main

feat(taskfile): add more volsync tasks
  .taskfiles/VolSync/Taskfile.yaml
Labels: none

feat(external-apps): attach gethomepage annotations (#1980)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
Labels: area/kubernetes, cluster/main

fix(unifi): remove externalTrafficPolicy
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(proxmox): disable auto-boot for unifi vm
  terraform/proxmox/main.tf
Labels: area/terraform

chore(kromgo): adjust gatus status to new behaviour
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
Labels: area/kubernetes, cluster/main

fix(kromgo): status should be 404 still
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
Labels: area/kubernetes, cluster/main

feat(external-apps): switch to EndpointSlices
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
Labels: area/kubernetes, cluster/main

fix(gatus): remove `internal` group
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/components/gatus/internal/config.yaml
Labels: area/kubernetes, cluster/main

feat(external-apps): switch to EndpointSlices (#1987)
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
Labels: area/kubernetes, cluster/main

fix(gatus): remove `internal` group (#1986)
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/components/gatus/internal/config.yaml
Labels: area/kubernetes, cluster/main

fix(kps): shorter resource names
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(cilium): disable envoy daemonset
  ansible/kubernetes/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

fix(cilium): disable envoy daemonset (#1990)
  ansible/kubernetes/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

chore(volsync): spread out backup windows a bit better
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

chore(volsync): spread out backup windows a bit better (#1991)
  kubernetes/main/apps/default/esphome/ks.yaml
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

fix(longhorn): rename volsync storage class
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/storageclass.yaml
  kubernetes/main/components/volsync/local/replicationsource.yaml
  kubernetes/main/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix(longhorn): rename volsync storage class (#1992)
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/storageclass.yaml
  kubernetes/main/components/volsync/local/replicationsource.yaml
  kubernetes/main/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix: improve `dependsOn` where necessary
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/database/cloudnative-pg/ks.yaml
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/database/pgadmin/ks.yaml
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/static-content/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: be less dependent on images from dockerhub
  kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: improve `dependsOn` where necessary (#1993)
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/database/cloudnative-pg/ks.yaml
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/database/pgadmin/ks.yaml
  kubernetes/main/apps/default/forgejo/ks.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/ks.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/ks.yaml
  kubernetes/main/apps/default/nextcloud/ks.yaml
  kubernetes/main/apps/default/static-content/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: be less dependent on images from dockerhub (#1994)
  kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: imagePullSecrets for dockerhub
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: imagePullSecrets for dockerhub
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: dockerhub-auth secrets
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/storage/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: dockerhub-auth secrets (#2004)
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/storage/components/common/secrets/dockerhub-auth.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(kube-web-view): correct misplaced securityContext
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
