Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

Revert "fix(authentik): trailing slash is mandatory now"
  terraform/authentik/outposts.tf
Labels: area/terraform

chore(homepage): update layout
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): sort by name
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

Reapply "fix(authentik): trailing slash is mandatory now"
  terraform/authentik/outposts.tf
Labels: area/terraform

Revert "fix(helm): update authentik ( 2024.12.0 → 2024.12.1 ) (#1744)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update ingress-nginx ( 4.11.3 → 4.12.0 ) (#1758)"
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

Reapply "feat(helm): update ingress-nginx ( 4.11.3 → 4.12.0 ) (#1758)"
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(ingress-nginx): stop being picky
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "feat(container)!: Update ghcr.io/onedr0p/home-assistant ( 2024.12.5 →…"
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update ghcr.io/onedr0p/home-assistant ( 2024.12.5 →…" (#1774)
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(zigbee2mqtt): update helmrelease
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update ghcr.io/koenkk/zigbee2mqtt ( 1.42.0 → 2.0.0 ) (#1772)"
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(container)!: Update ghcr.io/koenkk/zigbee2mqtt ( 1.42.0 → 2.0.0 ) (#1772)"
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(prometheus): scrapeconfig for wz
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/secret.sops.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wohnzimmer.yaml
Labels: area/kubernetes, cluster/main

chore: adjust nextcloud resources
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add prometheusrules for wohnzimmer
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/wohnzimmer.yaml
Labels: area/kubernetes, cluster/main

feat(authentik): enable password reset
  terraform/authentik/customization.tf
  terraform/authentik/flows.tf
  terraform/authentik/stage-prompt-fields.tf
  terraform/authentik/stages.tf
Labels: area/terraform

chore: disable AuthorizeNodeWithSelectors feature-gate
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
Labels: area/ansible, cluster/main, cluster/storage

Revert "chore: disable AuthorizeNodeWithSelectors feature-gate"
  ansible/kubernetes/main/inventory/group_vars/master/main.yaml
  ansible/kubernetes/storage/inventory/group_vars/controllers/main.yaml
Labels: area/ansible, cluster/main, cluster/storage

feat: install vikunja
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

feat: install vikunja (#1795)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
  kubernetes/main/apps/default/vikunja/ks.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(vikunja): deploy missing secrets
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(vikunja): use correct auth url
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(vikunja): correct auth url
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(vikunja): use correct oidc redirect uri
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
  terraform/authentik/applications.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore(vikunja): enable registration
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(vikunja): adjust memory request and mailer port
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): make externally reachable
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(vikunja): disable registration for now
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(vikunja): override some default settings
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(vikunja): enable gatus
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): add group for vikunja
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
Labels: area/terraform

chore(authentik): update group setup
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
Labels: area/terraform

chore(vukunja): disable local auth
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(authentik): set recovery flow
  terraform/authentik/system.tf
Labels: area/terraform

fix(vikunja): set JWT secret
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

refactor(authentik): consistent flow resource naming
  terraform/authentik/applications.tf
  terraform/authentik/flows.tf
  terraform/authentik/system.tf
Labels: area/terraform

chore: update dashboard icons URL
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(security): do not expose postgres super password to workload envs
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/secret.sops.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/secret-admin.sops.yaml
  kubernetes/main/apps/monitoring/grafana/app/secret.sops.yaml
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(security): do not expose postgres super password to workload envs (#1804)
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/secret.sops.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/secret-admin.sops.yaml
  kubernetes/main/apps/monitoring/grafana/app/secret.sops.yaml
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
