Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

feat(external-dns): add non-cloudflare external DNSEndpoint
  kubernetes/main/apps/networking/external-dns/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

feat(wireguard): dualstack
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  ansible/wireguard/inventory/host_vars/vps/secrets.sops.yaml
  ansible/wireguard/playbooks/templates/etc/ndppd.conf.j2
  ansible/wireguard/playbooks/wg-install.yaml
Labels: area/ansible

chore(ingress-nginx): add another hostname
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "chore(ingress-nginx): add another hostname"
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(wireguard): tunnel https traffic
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

chore(nextcloud): disable automatic OIDC login
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): remove custom php-fpm pool config
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): hide simpleSignUpLink
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(forgejo): disable valkey-cluster
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(blackbox-exporter): solar power yay
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

fix(blackbox-exporter): better hostnames
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

fix(blackbox-exporter): it's instance not target
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(blackbox-exporter): kvm should be taken care of too
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

Revert "ci(github-action): update action ghcr.io/allenporter/flux-local ( v7.…"
  .github/workflows/flux-diff.yaml
Labels: area/github

Revert "feat(helm): update chart loki ( 6.34.0 → 6.35.0 ) (#2622)"
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart loki ( 6.34.0 → 6.35.0 ) (#2622)" (#2625)
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(renovate): update schedules
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/github

fix(blackbox-exporter): remove unnecessary escaping from prometheusrules
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(github-release): update dragonfly group (#2676)"
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

chore(cilium): remove storage interface filter
  kubernetes/storage/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes, cluster/storage

fix: update cilium device
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(storage): remove LAGG
  ansible/kubernetes/storage/playbooks/files/etc/network/interfaces
Labels: area/ansible, cluster/storage

docs: update README
  README.md
Labels: area/docs

fix(dragonfly): update clusterrole
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): enable worker metrics
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(github): update publish-schemas workflow
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(grafana): disable public dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(renovate): update custom regex managers
  .github/renovate/customManagers.json5
Labels: area/github

fix(renovate): look for regex pattern in shell scripts
  .github/renovate/customManagers.json5
Labels: area/github

feat(gateway-api): install CRDs
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/main/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/main/apps/networking/gateway-api-crds/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(gateway-api): install CRDs (#2700)
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/main/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/main/apps/networking/gateway-api-crds/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/app/helmrelease.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/app/kustomization.yaml
  kubernetes/storage/apps/networking/gateway-api-crds/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install envoy-gateway
  kubernetes/main/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/ks.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install envoy-gateway (#2701)
  kubernetes/main/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/storage/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/ks.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(envoy-gateway): use correct path
  kubernetes/storage/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(envoy-gateway): add basic gateway configuration
  kubernetes/main/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/ks.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(envoy-gateway): add basic gateway configuration (#2702)
  kubernetes/main/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/ks.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/storage/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(envoy-gateway): set deployment names
  kubernetes/main/apps/networking/envoy-gateway/config/external/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(k8s-gateway): update repo and bump to 3.2.6
  kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(k8s-gateway): update repo and bump to 3.2.6 (#2703)
  kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/k8s-gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(k8s-gateway): watch HTTPRoute resources
  kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage
