Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(longhorn): decrease UI replicas
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(blackbox-exporter): switch to Probe CRD
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

feat(blackbox-exporter): switch to Probe CRD (#1908)
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

chore(blackbox-exporter): add probes for more devices
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): move to longhorn storage
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): move to longhorn storage (#1909)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): enable CRD upgrade job
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): enable CRD upgrade job
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

chore(longhorn): decrease CSI replica counts
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(longhorn): decrease CSI replica counts (#1920)
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(longhorn): use ServiceMonitor from chart
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/main

chore(longhorn): use ServiceMonitor from chart (#1921)
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/servicemonitor.yaml
Labels: area/kubernetes, cluster/main

chore(grafana): disable debug logging
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(storage): disable prune for all flux app ks
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): disable substitutions in cluster ks
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): disable substitutions in cluster ks (#1932)
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/storage

chore(main): disable substitutions in cluster ks
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/main

chore(main): disable substitutions in cluster ks (#1933)
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/main

chore(storage): disable prune for all flux app ks (#1934)
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat(storage)!: move ks into namespaces
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/cert-manager/kustomization.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/identity/kustomization.yaml
  kubernetes/storage/apps/kube-system/cilium/ks.yaml
  kubernetes/storage/apps/kube-system/coredns/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/kustomization.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/kustomization.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/kustomization.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/components/common/cluster-secrets.sops.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/sops-age.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(storage)!: move ks into namespaces (#1936)
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/cert-manager/kustomization.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/identity/kustomization.yaml
  kubernetes/storage/apps/kube-system/cilium/ks.yaml
  kubernetes/storage/apps/kube-system/coredns/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/kustomization.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/kustomization.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/kustomization.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/components/common/cluster-secrets.sops.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/sops-age.sops.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): enable prune for ks again
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): enable prune for ks again (#1938)
  kubernetes/storage/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
  kubernetes/storage/apps/default/minio/ks.yaml
  kubernetes/storage/apps/default/restic/ks.yaml
  kubernetes/storage/apps/default/zot/ks.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  kubernetes/storage/apps/kube-system/k8tz/ks.yaml
  kubernetes/storage/apps/kube-system/metrics-server/ks.yaml
  kubernetes/storage/apps/kube-system/reloader/ks.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/storage/apps/monitoring/promtail/ks.yaml
  kubernetes/storage/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/storage/apps/networking/k8s-gateway/ks.yaml
  kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/openebs-system/openebs/ks.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/ks.yaml
  kubernetes/storage/flux/apps.yaml
  kubernetes/storage/flux/config/cluster.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

fix(external-secrets): add missing cert-manager namespace
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

feat(main): add namespace component
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/namespace.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/database/namespace.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/namespace.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/namespace.yaml
  kubernetes/main/apps/identity/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/longhorn-system/kustomization.yaml
  kubernetes/main/apps/longhorn-system/namespace.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/namespace.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/namespace.yaml
  kubernetes/main/apps/openebs-system/kustomization.yaml
  kubernetes/main/apps/openebs-system/namespace.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/namespace.yaml
  kubernetes/main/apps/volsync-system/kustomization.yaml
  kubernetes/main/apps/volsync-system/namespace.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/namespace.yaml
Labels: area/kubernetes, cluster/main

feat(storage): add namespace component
  kubernetes/storage/apps/cert-manager/kustomization.yaml
  kubernetes/storage/apps/cert-manager/namespace.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  kubernetes/storage/apps/default/namespace.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/namespace.yaml
  kubernetes/storage/apps/identity/kustomization.yaml
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/namespace.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/namespace.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/namespace.yaml
  kubernetes/storage/apps/openebs-system/kustomization.yaml
  kubernetes/storage/apps/openebs-system/namespace.yaml
  kubernetes/storage/apps/system-upgrade/kustomization.yaml
  kubernetes/storage/apps/system-upgrade/namespace.yaml
  kubernetes/storage/apps/terraform/kustomization.yaml
  kubernetes/storage/apps/terraform/namespace.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/namespace.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): add namespace component (#1941)
  kubernetes/storage/apps/cert-manager/kustomization.yaml
  kubernetes/storage/apps/cert-manager/namespace.yaml
  kubernetes/storage/apps/default/kustomization.yaml
  kubernetes/storage/apps/default/namespace.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/apps/flux-system/namespace.yaml
  kubernetes/storage/apps/identity/kustomization.yaml
  kubernetes/storage/apps/kube-system/kustomization.yaml
  kubernetes/storage/apps/kube-system/namespace.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/namespace.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
  kubernetes/storage/apps/networking/namespace.yaml
  kubernetes/storage/apps/openebs-system/kustomization.yaml
  kubernetes/storage/apps/openebs-system/namespace.yaml
  kubernetes/storage/apps/system-upgrade/kustomization.yaml
  kubernetes/storage/apps/system-upgrade/namespace.yaml
  kubernetes/storage/apps/terraform/kustomization.yaml
  kubernetes/storage/apps/terraform/namespace.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/namespace.yaml
Labels: area/kubernetes, cluster/storage

feat(main): add namespace component (#1940)
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/namespace.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/database/namespace.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/namespace.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/namespace.yaml
  kubernetes/main/apps/identity/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/longhorn-system/kustomization.yaml
  kubernetes/main/apps/longhorn-system/namespace.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/namespace.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/namespace.yaml
  kubernetes/main/apps/openebs-system/kustomization.yaml
  kubernetes/main/apps/openebs-system/namespace.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/namespace.yaml
  kubernetes/main/apps/volsync-system/kustomization.yaml
  kubernetes/main/apps/volsync-system/namespace.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/namespace.yaml
Labels: area/kubernetes, cluster/main

feat: add notifications component
  kubernetes/main/apps/flux-system/addons/ks.yaml
  kubernetes/main/apps/flux-system/addons/notifications/alertmanager/alert.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/notifications/alertmanager/alert.yaml
  kubernetes/main/components/common/notifications/alertmanager/kustomization.yaml
  kubernetes/main/components/common/notifications/alertmanager/provider.yaml
  kubernetes/main/components/common/notifications/kustomization.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/notifications/alertmanager/alert.yaml
  kubernetes/storage/components/common/notifications/alertmanager/kustomization.yaml
  kubernetes/storage/components/common/notifications/alertmanager/provider.yaml
  kubernetes/storage/components/common/notifications/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add notifications component (#1942)
  kubernetes/main/apps/flux-system/addons/ks.yaml
  kubernetes/main/apps/flux-system/addons/notifications/alertmanager/alert.yaml
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/notifications/alertmanager/alert.yaml
  kubernetes/main/components/common/notifications/alertmanager/kustomization.yaml
  kubernetes/main/components/common/notifications/alertmanager/provider.yaml
  kubernetes/main/components/common/notifications/kustomization.yaml
  kubernetes/storage/apps/flux-system/addons/ks.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/notifications/alertmanager/alert.yaml
  kubernetes/storage/components/common/notifications/alertmanager/kustomization.yaml
  kubernetes/storage/components/common/notifications/alertmanager/provider.yaml
  kubernetes/storage/components/common/notifications/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: backup hass + z2m more often
  kubernetes/main/apps/default/home-assistant/ks.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

feat(longhorn): add longhorn-unreplicated storage class
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/storageclass.yaml
Labels: area/kubernetes, cluster/main

fix(volsync): use longhorn-unreplicated as storage class
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/components/volsync/local/replicationsource.yaml
  kubernetes/main/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, cluster/main

docs: update README.md
  README.md
Labels: area/docs

fix(volsync): use longhorn-unreplicated as storage class (#1956)
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/components/volsync/local/replicationsource.yaml
  kubernetes/main/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, cluster/main

feat: add new bootstrap script
  .taskfiles/Cluster/Taskfile.yaml
  .taskfiles/Cluster/resources/bootstrap.sh
  Taskfile.yaml
  kubernetes/main/bootstrap/secrets/sops-age.sops.yaml
  kubernetes/storage/bootstrap/secrets/sops-age.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: add new bootstrap script (#1957)
  .taskfiles/Cluster/Taskfile.yaml
  .taskfiles/Cluster/resources/bootstrap.sh
  Taskfile.yaml
  kubernetes/main/bootstrap/secrets/sops-age.sops.yaml
  kubernetes/storage/bootstrap/secrets/sops-age.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

refactor: reorganize secrets in common component
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/main/components/common/secrets/sops-age.sops.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
  kubernetes/storage/components/common/secrets/sops-age.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

refactor: reorganize secrets in common component
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/main/components/common/secrets/sops-age.sops.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
  kubernetes/storage/components/common/secrets/sops-age.sops.yaml
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

refactor: reorganize secrets in common component (#1958)
  .taskfiles/Cluster/resources/bootstrap.sh
  kubernetes/main/components/common/kustomization.yaml
  kubernetes/main/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/main/components/common/secrets/kustomization.yaml
  kubernetes/main/components/common/secrets/sops-age.sops.yaml
  kubernetes/storage/components/common/kustomization.yaml
  kubernetes/storage/components/common/secrets/cluster-secrets.sops.yaml
  kubernetes/storage/components/common/secrets/kustomization.yaml
  kubernetes/storage/components/common/secrets/sops-age.sops.yaml
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
