Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

fix: disable verification for app-template
  kubernetes/main/components/common/repos/app-template.yaml
  kubernetes/storage/components/common/repos/app-template.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(unifi): use port 9080 for http
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(unifi): use port 9080 for http"
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(unifi): explicitly set ports
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "chore(container): update image ghcr.io/martinohmann/kubernetes-secrets-sync ( 8ab1a57 → c83317d )"
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(pgadmin): adjust resources
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(snapshot-controller): disable webhook
  kubernetes/main/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(terraform): update `authentik_group` resource attributes
  terraform/authentik/directory.tf
Labels: area/terraform

feat(wireguard): tunnel external http(s) traffic
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

feat(wireguard): tunnel external http(s) traffic (#3232)
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

chore(backrest): switch to ghcr.io
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(terraform): update `authentik_group` resource attributes
  terraform/authentik/directory.tf
Labels: area/terraform

fix!: switch tunnel
  kubernetes/main/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/external-dns/app/dnsendpoint.yaml
Labels: area/kubernetes, cluster/main

Revert "fix!: switch tunnel"
  kubernetes/main/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/external-dns/app/dnsendpoint.yaml
Labels: area/kubernetes, cluster/main

feat(echo-server): add experimental route for alternative tunnel
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(echo-server): add experimental route for alternative tunnel"
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add service monitor for garage
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat: add service monitor for garage (#3260)
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(envoy): add experimental gateway
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/clienttrafficpolicy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/dnsendpoint.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
Labels: area/kubernetes, cluster/main

feat(envoy): add experimental gateway (#3261)
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/clienttrafficpolicy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/dnsendpoint.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/envoyproxy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproute.yaml
Labels: area/kubernetes, cluster/main

fix(ansible): update wg host vars
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  ansible/wireguard/playbooks/templates/etc/ndppd.conf.j2
Labels: area/ansible

chore: add gateway traffic policy labels
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(external-dns): switch to `--gateway-label-filter`
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(echo-server): disable gatus for experimental endpoint
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(gatus): enable for experimental gateway
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/experimental/gateway.yaml
Labels: area/kubernetes, cluster/main

chore: adjust resource requests
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(github): replace add-pr-comment action
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(mosquitto): remove pinned digest
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: second network interface for sandbox
  terraform/proxmox/main.tf
  terraform/proxmox/modules/vm/main.tf
  terraform/proxmox/modules/vm/variables.tf
Labels: area/terraform

fix(vikunja): update OIDC config
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(authentik): update vikunja clientsecret path
  terraform/authentik/applications.tf
Labels: area/terraform

fix(authentik): replace deprecated `User.ak_groups`
  terraform/authentik/customization.tf
Labels: area/terraform

fix(authentik): update ext-auth backend headers
  kubernetes/main/components/ext-auth/securitypolicy.yaml
  kubernetes/storage/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(kromgo): update gatus conditions
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(cert-manager): update job selector in prometheusrule
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "fix(container): update image ghcr.io/home-operations/charts-mirror/he…"
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/home-operations/charts-mirror/he…" (#3450)
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: new phone
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix(dragonfly): update rbac permissions
  kubernetes/main/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(github-release): update dragonfly group ( v1.4.0 → v1.5.0 ) (#3472)"
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
Labels: area/kubernetes, cluster/main
