Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(nginx): update user agent block list
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(vikunja): make externally reachable
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

refactor(zigbee2mqtt): use gatus template
  kubernetes/main/apps/default/zigbee2mqtt/app/gatus-ep.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/templates/gatus/internal/configmap.yaml
Labels: area/kubernetes, cluster/main

refactor(zigbee2mqtt): use gatus template (#1805)
  kubernetes/main/apps/default/zigbee2mqtt/app/gatus-ep.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/main/templates/gatus/internal/configmap.yaml
Labels: area/kubernetes, cluster/main

chore(longhorn): temporarily remove volumesnapshotclass
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

Revert "chore(longhorn): temporarily remove volumesnapshotclass"
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(snapshot-controller): remove webhook config
  kubernetes/main/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: install external-secrets operator
  kubernetes/main/apps/external-secrets/external-secrets/app/certificate.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/pki.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/secret.sops.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/flux/repositories/helm/external-secrets.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

feat: install external-secrets operator (#1818)
  kubernetes/main/apps/external-secrets/external-secrets/app/certificate.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/pki.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/store/secret.sops.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/flux/repositories/helm/external-secrets.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

fix(external-secrets): add missing namespace selector
  kubernetes/main/apps/external-secrets/external-secrets/store/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

fix(external-secrets): me stupid
  kubernetes/main/apps/external-secrets/external-secrets/store/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

feat(grafana): install external-secrets dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(external-secrets): add prometheus rules
  kubernetes/main/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix(external-secrets): switch to prometheusrule summary
  kubernetes/main/apps/external-secrets/external-secrets/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix(flux-system): alerts for external-secrets namespace
  kubernetes/main/apps/flux-system/addons/notifications/alertmanager/alert.yaml
Labels: area/kubernetes, cluster/main

feat(kube-prometheus-stack): use AlertmanagerConfig
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/main

feat(kube-prometheus-stack): use AlertmanagerConfig (#1820)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/main

feat(kube-prometheus-stack): use native alertmanager telegram integration
  .archive/kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/alertmanager-telegram/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/alertmanager-telegram/app/secret.sops.yaml
  .archive/kubernetes/main/apps/monitoring/alertmanager-telegram/ks.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

fix(volsync): improve alert query for VolSyncPodsTerminatedFrequently
  kubernetes/main/apps/volsync-system/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): migrate to working fritzbox icon
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

feat: install event-exporter
  kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/event-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/event-exporter/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: install event-exporter (#1831)
  kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/event-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/event-exporter/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/main

chore(event-exporter): update config
  kubernetes/main/apps/monitoring/event-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(coredns): update rollingUpdate config
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cilium): set `socketLB.hostNamespaceOnly` to `true`
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cilium): set `socketLB.hostNamespaceOnly` to `true` (#1838)
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(cloudflare): block AI bots
  terraform/cloudflare/bots.tf
Labels: area/terraform

feat(homepage): play around with bookmarks
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): add wildcard certificates for outposts
  kubernetes/main/apps/identity/authentik/app/certificate.yaml
  kubernetes/main/apps/identity/authentik/app/kustomization.yaml
  kubernetes/main/apps/identity/authentik/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/app/certificate.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/app/kustomization.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(authentik): add wildcard certificates for outposts (#1886)
  kubernetes/main/apps/identity/authentik/app/certificate.yaml
  kubernetes/main/apps/identity/authentik/app/kustomization.yaml
  kubernetes/main/apps/identity/authentik/ks.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/app/certificate.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/app/kustomization.yaml
  kubernetes/storage/apps/identity/authentik-remote-cluster/ks.yaml
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(terraform): migrate resources to v5.x schema
  terraform/cloudflare/bots.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(volsync): set moverResources
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/templates/volsync/b2.yaml
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

chore(volsync): set moverResources (#1902)
  kubernetes/main/apps/default/nextcloud/app/replicationsource.yaml
  kubernetes/main/templates/volsync/b2.yaml
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

chore(thanos): reduce replicas
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(miniflux): reduce replicas
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kube-prometheus-stack): reduce replicas
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: archive redis-commander
  .archive/kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  .archive/kubernetes/main/apps/database/redis-commander/app/kustomization.yaml
  .archive/kubernetes/main/apps/database/redis-commander/app/resources/config.json
  .archive/kubernetes/main/apps/database/redis-commander/ks.yaml
  kubernetes/main/apps/database/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore: archive redis-commander (#1906)
  .archive/kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  .archive/kubernetes/main/apps/database/redis-commander/app/kustomization.yaml
  .archive/kubernetes/main/apps/database/redis-commander/app/resources/config.json
  .archive/kubernetes/main/apps/database/redis-commander/ks.yaml
  kubernetes/main/apps/database/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Labels: area/kubernetes, area/terraform, cluster/main

perf(cilium): tune for lower CPU usage
  ansible/kubernetes/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

perf(cilium): tune for lower CPU usage (#1907)
  ansible/kubernetes/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
