Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

fix(kube-web-view): correct misplaced securityContext (#2006)
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(main): use image pull secrets for dockerhub
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(storage): use image pull secrets for dockerhub
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): use image pull secrets for dockerhub (#2005)
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(main): use image pull secrets for dockerhub (#2007)
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(longhorn): patch ServiceAccount with imagePullSecrets
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(longhorn): patch ServiceAccount with imagePullSecrets (#2010)
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(renovate): update custom manager for grafana dashboards
  .github/renovate/customManagers.json5
Labels: area/github

fix(bootstrap): enable dry-run by default
  .taskfiles/Cluster/Taskfile.yaml
  .taskfiles/Cluster/resources/bootstrap.sh
Labels: none

fix(kps): update wohnzimmer scrape interval
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wohnzimmer.yaml
Labels: area/kubernetes, cluster/main

fix(kps): add scrape config relabelings
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wg-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wohnzimmer.yaml
Labels: area/kubernetes, cluster/main

feat: install it-tools
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/kustomization.yaml
  kubernetes/main/apps/default/it-tools/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: install it-tools (#2033)
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/kustomization.yaml
  kubernetes/main/apps/default/it-tools/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: :sad-face:
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(it-tools): missing pieces
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(it-tools): :facepalm:
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(it-tools): shorter
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/ks.yaml
Labels: area/kubernetes, cluster/main

fix(kps): change job label for external node-exporter metrics
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/main

chore: update renovate config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(renovate): add missing comma to config
  .github/renovate/semanticCommits.json5
Labels: area/github

feat(wireguard): dualstack
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  ansible/wireguard/inventory/host_vars/vps/secrets.sops.yaml
  ansible/wireguard/playbooks/templates/etc/ndppd.conf.j2
  ansible/wireguard/playbooks/wg-install.yaml
Labels: area/ansible

fix: remove tj-actions/changed-files
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

fix: set HOMEPAGE_ALLOWED_HOSTS env var
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): enable ingress service discovery
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

chore: switch back to tj-actions/changed-files
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

chore: switch to home-operations images
  .github/renovate/autoMerge.json5
  kubernetes/main/apps/default/forgejo/init-db/job.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/main

chore: switch to home-operations images
  .github/renovate/autoMerge.json5
  kubernetes/main/apps/default/forgejo/init-db/job.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/main

chore: switch to home-operations images (#2115)
  .github/renovate/autoMerge.json5
  kubernetes/main/apps/default/forgejo/init-db/job.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/main

fix(renovate): disable branch automerging
  .github/renovate.json5
Labels: area/github

fix(renovate): remove timezone
  .github/renovate.json5
Labels: area/github

fix(renovate): update schedules
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/github

feat: manage kube-vip via flux
  ansible/kubernetes/main/inventory/group_vars/kubernetes/main.yaml
  ansible/kubernetes/main/playbooks/cluster-installation.yaml
  ansible/kubernetes/main/playbooks/cluster-kube-vip.yaml
  ansible/kubernetes/main/playbooks/tasks/cruft.yaml
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-ds.yaml.j2
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
  kubernetes/main/apps/kube-system/kube-vip/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kube-vip/app/rbac.yaml
  kubernetes/main/apps/kube-system/kube-vip/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/ansible, area/kubernetes, cluster/main

feat: manage kube-vip via flux (#2145)
  ansible/kubernetes/main/inventory/group_vars/kubernetes/main.yaml
  ansible/kubernetes/main/playbooks/cluster-installation.yaml
  ansible/kubernetes/main/playbooks/cluster-kube-vip.yaml
  ansible/kubernetes/main/playbooks/tasks/cruft.yaml
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-ds.yaml.j2
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
  kubernetes/main/apps/kube-system/kube-vip/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kube-vip/app/rbac.yaml
  kubernetes/main/apps/kube-system/kube-vip/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/ansible, area/kubernetes, cluster/main

chore: remove old unifi VM
  README.md
  ansible/unifi/.envrc
  ansible/unifi/inventory/hosts.yaml
  ansible/unifi/playbooks/install-updates.yaml
  ansible/unifi/playbooks/install.yaml
  terraform/proxmox/main.tf
Labels: area/ansible, area/docs, area/terraform

chore: remove old unifi VM (#2146)
  README.md
  ansible/unifi/.envrc
  ansible/unifi/inventory/hosts.yaml
  ansible/unifi/playbooks/install-updates.yaml
  ansible/unifi/playbooks/install.yaml
  terraform/proxmox/main.tf
Labels: area/ansible, area/docs, area/terraform

feat: bump weather-landscape-server and configure altitude
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix: make it round
  kubernetes/main/apps/default/weather-landscape/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix: address breaking changes
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-ds.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes, cluster/main

chore(pve-exporter): pull image from ghcr.io
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(pve-exporter): pull image from ghcr.io (#2206)
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
