Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(cert-manager): enable WatchListClient feature
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(cert-manager): switch to podmonitor
  kubernetes/storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(cert-manager): enable WatchListClient feature
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(cert-manager): switch to podmonitor
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(cert-manager): update alert query
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(cert-manager): limit CertManagerAbsent alert to controller
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(app-template): adjust service accounts
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(app-template): adjust service accounts
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(kube-prometheus-stack): do not mess with kubelet instance label
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install landscape-weather
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
  kubernetes/main/apps/default/landscape-weather/app/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/secret.sops.yaml
  kubernetes/main/apps/default/landscape-weather/ks.yaml
Labels: area/kubernetes, cluster/main

feat: install landscape-weather (#1498)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
  kubernetes/main/apps/default/landscape-weather/app/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/secret.sops.yaml
  kubernetes/main/apps/default/landscape-weather/ks.yaml
Labels: area/kubernetes, cluster/main

chore: configure weekly schedule for frequently updated packages
  .github/renovate/packageRules.json5
Labels: area/github

chore(landscape-weather): bump and fix logging
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): add service monitor
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): add service monitor (#1511)
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): add prometheus rule
  kubernetes/main/apps/default/landscape-weather/app/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): add prometheus rule (#1512)
  kubernetes/main/apps/default/landscape-weather/app/kustomization.yaml
  kubernetes/main/apps/default/landscape-weather/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix(landscape-weather): adjust prometheus rule
  kubernetes/main/apps/default/landscape-weather/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): use proper health check
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(landscape-weather): update prometheus rule
  kubernetes/main/apps/default/landscape-weather/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix(landscape-weather): sum and increase it is
  kubernetes/main/apps/default/landscape-weather/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

chore(landscape-weather): disable debug logging
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(landscape-weather): add service lb
  kubernetes/main/apps/default/landscape-weather/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: rename landscape-weather
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/kustomization.yaml
  kubernetes/main/apps/default/weather-landscape/app/prometheusrule.yaml
  kubernetes/main/apps/default/weather-landscape/app/secret.sops.yaml
  kubernetes/main/apps/default/weather-landscape/ks.yaml
Labels: area/kubernetes, cluster/main

chore: rename landscape-weather (#1518)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/kustomization.yaml
  kubernetes/main/apps/default/weather-landscape/app/prometheusrule.yaml
  kubernetes/main/apps/default/weather-landscape/app/secret.sops.yaml
  kubernetes/main/apps/default/weather-landscape/ks.yaml
Labels: area/kubernetes, cluster/main

feat: install fluxcd capacitor
  kubernetes/main/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/main/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/main/apps/flux-system/capacitor/ks.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/storage/apps/flux-system/capacitor/ks.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install fluxcd capacitor (#1519)
  kubernetes/main/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/main/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/main/apps/flux-system/capacitor/ks.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/storage/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/storage/apps/flux-system/capacitor/ks.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "fix(container): update ghcr.io/kube-vip/kube-vip ( v0.8.4 → v0.8.5 ) (#1531)"
  ansible/kubernetes/main/playbooks/templates/kube-vip-ds.yaml.j2
Labels: area/ansible, cluster/main

fix(terraform): add missing required authentik provider attribute
  terraform/authentik/applications.tf
  terraform/authentik/flows.tf
  terraform/authentik/modules/oauth2-application/main.tf
  terraform/authentik/modules/oauth2-application/variables.tf
  terraform/authentik/modules/proxy-application/main.tf
  terraform/authentik/modules/proxy-application/variables.tf
Labels: area/terraform

feat(terraform): manage flux webhook configuration
  terraform/github/.envrc
  terraform/github/.sops.env
  terraform/github/.terraform.lock.hcl
  terraform/github/main.tf
  terraform/github/versions.tf
  terraform/github/webhooks.tf
Labels: area/terraform

feat(storage): add kopia repo server for local-only backups
  kubernetes/storage/apps/default/kopia/ks.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/local/kustomization.yaml
  kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): add kopia repo server for local-only backups (#1575)
  kubernetes/storage/apps/default/kopia/ks.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/local/kustomization.yaml
  kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): adjust probes
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): expose LB for GRPC server
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): enable TLS
  kubernetes/storage/apps/default/kopia/ks.yaml
  kubernetes/storage/apps/default/kopia/local/certificate.yaml
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/local/kustomization.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): server server password and disable probes
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): remove --without-password
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): remove ingress
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(kopia-local): only one DNS name
  kubernetes/storage/apps/default/kopia/local/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

chore(kopia-local): update server password and username
  kubernetes/storage/apps/default/kopia/local/secret.sops.yaml
Labels: area/kubernetes, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
