Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

fix(pgadmin): set pgadminPasswordKey
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart authentik ( 2025.2.4 → 2025.4.0 ) (#2259)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(helm): update chart authentik ( 2025.2.4 → 2025.4.0 ) (#2259)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: force authentik update
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "chore: force authentik update"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart authentik ( 2025.2.4 → 2025.4.0 ) (#2259)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Reapply "feat(helm): update chart authentik ( 2025.2.4 → 2025.4.0 ) (#2259)"
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(external-secrets): bump apiVersion
  kubernetes/main/apps/external-secrets/external-secrets/store/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart loki ( 6.29.0 → 6.30.0 ) (#2337)"
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(helm): update chart loki ( 6.29.0 → 6.30.0 ) (#2337)" (#2339)
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(loki): update image repository for gateway
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(flux): bump `apiVersion` of `OCIRepository`
  kubernetes/main/flux/config/flux.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(proxmox): add support for multiple netdevs
  terraform/proxmox/main.tf
  terraform/proxmox/modules/vm/main.tf
  terraform/proxmox/modules/vm/variables.tf
Labels: area/terraform

feat(homepage): update quick links
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

feat(proxmox): add support for multiple network interfaces
  terraform/proxmox/main.tf
  terraform/proxmox/modules/vm/main.tf
  terraform/proxmox/modules/vm/variables.tf
Labels: area/terraform

feat(proxmox): add sandbox VM for testing purposes
  terraform/proxmox/main.tf
Labels: area/terraform

feat(proxmox): add secondary network interface to sandbox
  terraform/proxmox/main.tf
Labels: area/terraform

fix(cilium): add interface filter to L2 announcement
  kubernetes/main/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes, cluster/main

fix(authentik): work around a bug in the latest version
  terraform/authentik/flows.tf
  terraform/authentik/stages.tf
Labels: area/terraform

chore(openebs): disable nonsense
  kubernetes/main/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(openebs): disable nonsense
  kubernetes/storage/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

Revert "fix(authentik): work around a bug in the latest version"
  terraform/authentik/flows.tf
  terraform/authentik/stages.tf
Labels: area/terraform

fix(renovate): update packageRule for kube-prometheus-stack
  .github/renovate/packageRules.json5
Labels: area/github

fix(ingress-nginx): add missing quotes to hsts-max-age
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "fix(container): update image ghcr.io/kube-vip/kube-vip ( v0.9.1 → v0.9.2 ) (#2462)"
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-ds.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes, cluster/main

fix(kube-vip): update rbac
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/rbac.yaml
Labels: area/ansible, area/kubernetes, cluster/main

Revert "fix(container): update image ghcr.io/kube-vip/kube-vip ( v0.9.1 → v0.9.2 ) (#2469)"
  ansible/kubernetes/main/playbooks/templates/custom-kube-vip-ds.yaml.j2
  kubernetes/main/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/ansible, area/kubernetes, cluster/main

Revert "feat(helm): update chart ingress-nginx ( 4.12.3 → 4.13.0 ) (#2513)"
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(ingress-nginx): set proxy-busy-buffers-size to proxy-buffer-size
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(renovate): migrate config
  .github/renovate.json5
  .github/renovate/customManagers.json5
Labels: area/github

feat: install zipline
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/kustomization.yaml
  kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  kubernetes/main/apps/default/zipline/ks.yaml
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

feat: install zipline (#2536)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/kustomization.yaml
  kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  kubernetes/main/apps/default/zipline/ks.yaml
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(zipline): S3 region is required
  kubernetes/main/apps/default/zipline/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(zipline): remove runAs
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(zipline): add empty tmpdir
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(zipline): enable OIDC login
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore(zipline): run as non-root
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(zipline): make public
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/ks.yaml
Labels: area/kubernetes, cluster/main

feat(zipline): configure healthchecks
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/ks.yaml
Labels: area/kubernetes, cluster/main

chore(zipline): productionize config
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  kubernetes/main/apps/default/zipline/ks.yaml
  terraform/authentik/applications.tf
Labels: area/kubernetes, area/terraform, cluster/main
