Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

Revert "feat(github-release): update dragonfly group ( v1.4.0 → v1.5.0 ) (#3472)" (#3478)
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(cloudflare): don't block GitHub webhooks
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(github): update Homebrew/actions branch
  .github/workflows/kubeconform.yaml
Labels: area/github

Revert "fix(helm): update chart nextcloud ( 9.0.4 → 9.0.5 ) (#3547)"
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(wireguard): add udm
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  ansible/wireguard/inventory/host_vars/vps/secrets.sops.yaml
Labels: area/ansible

fix(wireguard): SNAT traffic to UDM
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix(wireguard): keep alive for UDM connection
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

chore(blackbox-exporter): remove kvm probe
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

feat: install unifi-dns
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/main/apps/networking/unifi-dns/ks.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/storage/apps/networking/unifi-dns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(blackbox-exporter): remove pikvm probe
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): resize data pvc
  kubernetes/main/apps/default/nextcloud/app/pvc.yaml
  kubernetes/main/apps/default/nextcloud/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image kube-prometheus-stack ( 83.4.3 → 84.3.…"
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image kube-prometheus-stack ( 83.4.3 → 84.3.…"
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

Revert "feat(container)!: Update image kube-prometheus-stack ( 83.4.3 → 84.3.…" (#3598)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image kube-prometheus-stack ( 83.4.3 → 84.3.…" (#3599)
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(wireguard): prepare for subnet split
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix(wireguard): move one to udm
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix: update wg-exporter scrape address
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/wg-exporter.yaml
Labels: area/kubernetes, cluster/main

feat(ansible): add playbook for pikvm
  ansible/pikvm/.envrc
  ansible/pikvm/inventory/host_vars/pikvm/main.yaml
  ansible/pikvm/inventory/host_vars/pikvm/secrets.sops.yaml
  ansible/pikvm/inventory/hosts.yaml
  ansible/pikvm/playbooks/prepare.yaml
  ansible/pikvm/playbooks/tasks/kubernetes.yaml
  ansible/pikvm/playbooks/tasks/kvmd.yaml
  ansible/pikvm/playbooks/tasks/nut.yaml
  ansible/pikvm/playbooks/templates/etc/kvmd/override.yaml.j2
  ansible/pikvm/playbooks/templates/etc/nut/ups.conf.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsd.conf.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsd.users.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsmon.conf.j2
Labels: area/ansible

fix(pikvm): use client protocol
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
Labels: area/kubernetes, cluster/main

feat(ansible): add playbook for pikvm
  ansible/pikvm/.envrc
  ansible/pikvm/inventory/host_vars/pikvm/main.yaml
  ansible/pikvm/inventory/host_vars/pikvm/secrets.sops.yaml
  ansible/pikvm/inventory/hosts.yaml
  ansible/pikvm/playbooks/prepare.yaml
  ansible/pikvm/playbooks/tasks/kubernetes.yaml
  ansible/pikvm/playbooks/tasks/kvmd.yaml
  ansible/pikvm/playbooks/tasks/node-exporter.yaml
  ansible/pikvm/playbooks/tasks/nut.yaml
  ansible/pikvm/playbooks/templates/etc/kvmd/override.yaml.j2
  ansible/pikvm/playbooks/templates/etc/nut/ups.conf.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsd.conf.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsd.users.j2
  ansible/pikvm/playbooks/templates/etc/nut/upsmon.conf.j2
  ansible/pikvm/playbooks/templates/etc/udev/rules.d/50-ups.rules.j2
Labels: area/ansible

feat: install unifi-dns
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/main/apps/networking/unifi-dns/ks.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/storage/apps/networking/unifi-dns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: install unifi-dns (#3621)
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/main/apps/networking/unifi-dns/ks.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/storage/apps/networking/unifi-dns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(wireguard): update allowed_ips
  ansible/wireguard/inventory/host_vars/vps/main.yaml
Labels: area/ansible

fix(unifi): switch to udm
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-dns/app/secret.sops.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: yaml anchors
  kubernetes/main/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/storage/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: remove unifi network controller
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/main

chore: update homepage
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/unifi.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update image kube-prometheus-stack ( 83.7.0 → 84.5.0 ) (#3601)"
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(dragonfly): add network policy for prometheus
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/database/dragonfly/cluster/networkpolicy.yaml
Labels: area/kubernetes, cluster/main

chore: address breaking changes
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

chore: address breaking changes
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(helm): update chart nextcloud ( 9.0.4 → 9.0.6 ) (#3571)"
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: decommission opnsense
  README.md
  ansible/pikvm/inventory/host_vars/pikvm/main.yaml
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
Labels: area/ansible, area/docs, area/kubernetes, cluster/main

chore: decommission opnsense (#3622)
  README.md
  ansible/pikvm/inventory/host_vars/pikvm/main.yaml
  ansible/wireguard/inventory/host_vars/vps/main.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/kustomization.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
Labels: area/ansible, area/docs, area/kubernetes, cluster/main

feat(grafana): add USG Insights dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(grafana): add Client DPI dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: rename external-dns to cloudflare-dns
  kubernetes/main/apps/networking/cloudflare-dns/app/dnsendpoint-crd.yaml
  kubernetes/main/apps/networking/cloudflare-dns/app/dnsendpoint.yaml
  kubernetes/main/apps/networking/cloudflare-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflare-dns/app/kustomization.yaml
  kubernetes/main/apps/networking/cloudflare-dns/app/secret.sops.yaml
  kubernetes/main/apps/networking/cloudflare-dns/ks.yaml
  kubernetes/main/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/main

docs: update README.md
  README.md
Labels: area/docs

chore(wireguard): update udm endpoint
  ansible/wireguard/inventory/host_vars/vps/secrets.sops.yaml
Labels: area/ansible

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
