Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

feat: install netbox
  kubernetes/main/apps/database/redis-commander/app/resources/config.json
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
  kubernetes/main/apps/default/netbox/app/kustomization.yaml
  kubernetes/main/apps/default/netbox/app/secret.sops.yaml
  kubernetes/main/apps/default/netbox/ks.yaml
  kubernetes/main/flux/repositories/helm/bootc.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

feat: install netbox (#1301)
  kubernetes/main/apps/database/redis-commander/app/resources/config.json
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
  kubernetes/main/apps/default/netbox/app/kustomization.yaml
  kubernetes/main/apps/default/netbox/app/secret.sops.yaml
  kubernetes/main/apps/default/netbox/ks.yaml
  kubernetes/main/flux/repositories/helm/bootc.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(netbox): add napalm_password
  kubernetes/main/apps/default/netbox/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(netbox): run init-db as non-root
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(netbox): disable worker and housekeeping for now
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(netbox): update admin user
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(netbox): disable remote auth for now
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
  kubernetes/main/apps/default/netbox/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(netbox): really disable remote auth
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(kubernetes): archive netbox
  .archive/kubernetes/main/apps/default/netbox/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/netbox/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/netbox/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/netbox/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/bootc.yaml
  kubernetes/main/apps/database/redis-commander/app/resources/config.json
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore(kubernetes): archive netbox (#1303)
  .archive/kubernetes/main/apps/default/netbox/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/netbox/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/netbox/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/netbox/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/bootc.yaml
  kubernetes/main/apps/database/redis-commander/app/resources/config.json
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

Revert "fix(helm): update nextcloud ( 5.5.2 → 5.5.3 ) (#1302)"
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(helm): update nextcloud ( 5.5.2 → 5.5.3 ) (#1302)" (#1304)
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): add service monitor
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(home-assistant): add service monitor (#1320)
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(authentik): migrate terraform resources to new names
  terraform/authentik/applications.tf
  terraform/authentik/customization.tf
  terraform/authentik/modules/oauth2-application/main.tf
Labels: area/terraform

fix(gatus): use correct http status for authentik
  kubernetes/main/apps/identity/authentik/ks.yaml
Labels: area/kubernetes, cluster/main

fix: better custom error pages
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: bjw-s is bernd-schorgers now
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/app/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: berndify things
  kubernetes/main/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/storage/flux/repositories/helm/bernd-schorgers.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: bjw-s is bernd-schorgers now (#1343)
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/app/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "fix: bjw-s is bernd-schorgers now (#1343)"
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/app/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

Revert "fix: bjw-s is bernd-schorgers now (#1343)" (#1350)
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/database/redis-commander/app/helmrelease.yaml
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/kopia/app/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/bernd-schorgers.yaml
  kubernetes/storage/flux/repositories/helm/bjw-s.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: try out renovate schedule
  .github/renovate.json5
Labels: area/github

fix: use kubectl from registry.k8s.io
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix: use kubectl from registry.k8s.io (#1369)
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(github): remove link-check
  .github/workflows/link-check.yaml
Labels: area/github

chore(github): update renovate schedule
  .github/renovate.json5
Labels: area/github

chore: adjust nginx resources
  kubernetes/main/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/main/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore: adjust some resources
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: configure monthly schedule for frequently updated packages
  .github/renovate/packageRules.json5
Labels: area/github

fix(cilium): remove invalid fields from helm values
  ansible/kubernetes/storage/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/storage/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/storage

fix(cilium): remove invalid helm values
  ansible/kubernetes/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes, cluster/main

fix(kube-prometheus-stack): bring back pre-63.x matching behaviour
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

fix(kube-prometheus-stack): bring back pre-63.x matching behaviour (#1416)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(kube-prometheus-stack): remove obsolete values
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(kube-prometheus-stack): remove obsolete values (#1419)
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(renovate): keep postgresql at 16.x
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(terraform): remove dependency to kubernetes secrets
  terraform/authentik/.terraform.lock.hcl
  terraform/authentik/applications.tf
  terraform/authentik/versions.tf
  terraform/kubernetes/secrets/main.tf
  terraform/kubernetes/secrets/versions.tf
  terraform/minio/.terraform.lock.hcl
  terraform/minio/main.tf
  terraform/minio/versions.tf
Labels: area/terraform

fix(kube-prometheus-stack): restore label selectors
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(kube-prometheus-stack): restore label selectors
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
