Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(blackbox-exporter): monitor ems-esp
  kubernetes/main/apps/monitoring/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/main

feat(external-dns): add gateway-httproute source
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(external-dns): add gateway-httproute source (#2704)
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(cloudflared): add DNSEndpoint for external-gw
  kubernetes/main/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/kubernetes, cluster/main

feat(echo-server): add HTTPRoute
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(echo-server): add HTTPRoute (#2706)
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(envoy-gateway): add ClientTrafficPolicy
  kubernetes/main/apps/networking/envoy-gateway/config/external/clienttrafficpolicy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/clienttrafficpolicy.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/internal/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(gateway): try HTTPRoute for external HTTPS backend
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
Labels: area/kubernetes, cluster/main

fix: of course it's address
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
Labels: area/kubernetes, cluster/main

feat(envoy-gateway): enable Backend extension API
  kubernetes/main/apps/networking/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(envoy-gateway): enable Backend extension API (#2738)
  kubernetes/main/apps/networking/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(authentik): prepare for external auth via gateway
  kubernetes/main/apps/identity/authentik/ks.yaml
  kubernetes/main/apps/identity/authentik/references/kustomization.yaml
  kubernetes/main/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/main/components/ext-auth/README.md
  kubernetes/main/components/ext-auth/kustomization.yaml
  kubernetes/main/components/ext-auth/securitypolicy.yaml
  kubernetes/storage/apps/identity/authentik/ks.yaml
  kubernetes/storage/apps/identity/authentik/references/kustomization.yaml
  kubernetes/storage/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/storage/components/ext-auth/README.md
  kubernetes/storage/components/ext-auth/kustomization.yaml
  kubernetes/storage/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(authentik): prepare for external auth via gateway (#2739)
  kubernetes/main/apps/identity/authentik/ks.yaml
  kubernetes/main/apps/identity/authentik/references/kustomization.yaml
  kubernetes/main/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/main/components/ext-auth/README.md
  kubernetes/main/components/ext-auth/kustomization.yaml
  kubernetes/main/components/ext-auth/securitypolicy.yaml
  kubernetes/storage/apps/identity/authentik/ks.yaml
  kubernetes/storage/apps/identity/authentik/references/kustomization.yaml
  kubernetes/storage/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/storage/components/ext-auth/README.md
  kubernetes/storage/components/ext-auth/kustomization.yaml
  kubernetes/storage/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(filebrowser): switch to HTTPRoute with ext-auth
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(filebrowser): switch to HTTPRoute with ext-auth (#2740)
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/ks.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): HTTPRoute for everybody
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/httproute.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

feat(storage): HTTPRoute for everybody (#2741)
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/backrest/ks.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/httproute.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/storage

fix(static-content): make envoy happy
  kubernetes/main/apps/default/static-content/app/resources/nginx.conf
Labels: area/kubernetes, cluster/main

chore(authentik): disable ingress for storage output-proxy
  terraform/authentik/outposts.tf
Labels: area/terraform

chore(storage): archive nginx
  .archive/kubernetes/storage/apps/networking/nginx/certificates/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/nginx/certificates/production.yaml
  .archive/kubernetes/storage/apps/networking/nginx/certificates/staging.yaml
  .archive/kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
  .archive/kubernetes/storage/apps/networking/nginx/internal/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): archive nginx (#2742)
  .archive/kubernetes/storage/apps/networking/nginx/certificates/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/nginx/certificates/production.yaml
  .archive/kubernetes/storage/apps/networking/nginx/certificates/staging.yaml
  .archive/kubernetes/storage/apps/networking/nginx/internal/helmrelease.yaml
  .archive/kubernetes/storage/apps/networking/nginx/internal/kustomization.yaml
  .archive/kubernetes/storage/apps/networking/nginx/ks.yaml
  kubernetes/storage/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/storage/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/storage

chore(storage): remove ingress leftovers
  kubernetes/storage/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/storage/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/storage

feat: migrate a couple of apps from Ingress to HTTPRoute
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/database/pgadmin/app/httproute.yaml
  kubernetes/main/apps/database/pgadmin/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/httproute.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/httproute.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/httproute.yaml
  kubernetes/main/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/httproute.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(homepage): enable Gateway API
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes, cluster/main

feat(homepage): enable Gateway API (#2744)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes, cluster/main

feat: migrate a couple of apps from Ingress to HTTPRoute (#2743)
  kubernetes/main/apps/database/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/database/pgadmin/app/httproute.yaml
  kubernetes/main/apps/database/pgadmin/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/httproute.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/httproute.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/httproute.yaml
  kubernetes/main/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/httproute.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(echo-server): switch to Gateway API only
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: switch networking namespace to Gateway API
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(kps): generate Gateway API metrics
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat: switch networking namespace to Gateway API (#2745)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): unbreak config
  kubernetes/main/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate more ingresses to HTTPRoute
  kubernetes/main/apps/flux-system/addons/webhooks/github/httproute.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/httproute.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/httproute.yaml
  kubernetes/main/apps/identity/authentik/app/kustomization.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate more ingresses to HTTPRoute (#2747)
  kubernetes/main/apps/flux-system/addons/webhooks/github/httproute.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/httproute.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/main/apps/identity/authentik/app/httproute.yaml
  kubernetes/main/apps/identity/authentik/app/kustomization.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

chore: simplify httproutes
  kubernetes/main/apps/database/pgadmin/app/httproute.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/httproute.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/httproute.yaml
  kubernetes/main/apps/monitoring/loki/app/httproute.yaml
  kubernetes/main/apps/monitoring/thanos/app/httproute.yaml
  kubernetes/main/apps/networking/external-apps/config/adguard.yaml
  kubernetes/main/apps/networking/external-apps/config/fritzbox.yaml
  kubernetes/main/apps/networking/external-apps/config/opnsense.yaml
  kubernetes/main/apps/networking/external-apps/config/pikvm.yaml
  kubernetes/main/apps/networking/external-apps/config/pve.yaml
  kubernetes/storage/apps/flux-system/weave-gitops/app/httproute.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

feat(gateway-api): migrate even more ingresses to HTTPRoute
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproutefilter.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate even more ingresses to HTTPRoute (#2748)
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/httproutefilter.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(gatus): move HTTPRouteFilter into monitoring namespace
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/httproutefilter.yaml
  kubernetes/main/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/main/apps/networking/envoy-gateway/config/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add component for not-found HTTPRouteFilter
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/components/not-found/httproutefilter.yaml
  kubernetes/main/components/not-found/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add component for not-found HTTPRouteFilter (#2749)
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/components/not-found/httproutefilter.yaml
  kubernetes/main/components/not-found/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(gateway-api): migrate more ingresses to HTTPRoute
  kubernetes/main/apps/default/forgejo/app/auth-ingress.yaml
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/default/forgejo/app/httproute.yaml
  kubernetes/main/apps/default/forgejo/app/kustomization.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/static-content/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*
