Repository martinohmann/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/terraform, cluster/main, cluster/storage

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: '*.md'
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/main:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/main/**/*
          - kubernetes/main/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file:
          - ansible/kubernetes/storage/**/*
          - kubernetes/storage/**/*

chore(main): migrate to app-template-v4 batch 2
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 2 (#2960)
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 3
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 3 (#2961)
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zipline/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 4
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(main): migrate to app-template-v4 batch 4 (#2962)
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: remove app-template-v3 leftovers
  kubernetes/main/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/main/apps/default/esphome/app/helmrelease.yaml
  kubernetes/main/apps/default/github-mirror/app/helmrelease.yaml
  kubernetes/main/apps/default/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/main/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/main/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/default/weather-landscape/app/helmrelease.yaml
  kubernetes/main/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager-telegram/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fritz-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/pve-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unifi-exporter/app/helmrelease.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/default/backrest/app/helmrelease.yaml
  kubernetes/storage/apps/default/filebrowser/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/app/helmrelease.yaml
  kubernetes/storage/apps/default/garage/webui/helmrelease.yaml
  kubernetes/storage/apps/default/minio/app/helmrelease.yaml
  kubernetes/storage/apps/default/restic/app/helmrelease.yaml
  kubernetes/storage/apps/default/zot/app/helmrelease.yaml
  kubernetes/storage/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/storage/apps/terraform/terraform-state-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/storage

chore(jellyfin): resize volume
  kubernetes/main/apps/default/jellyfin/ks.yaml
Labels: area/kubernetes, cluster/main

fix(jellyfin): set CPU limit
  kubernetes/main/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: archive zipline
  .archive/kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/zipline/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/zipline/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

chore: archive zipline (#3020)
  .archive/kubernetes/main/apps/default/zipline/app/helmrelease.yaml
  .archive/kubernetes/main/apps/default/zipline/app/kustomization.yaml
  .archive/kubernetes/main/apps/default/zipline/app/secret.sops.yaml
  .archive/kubernetes/main/apps/default/zipline/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
  terraform/authentik/secrets.tf
  terraform/minio/main.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(nextcloud): set registry
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(nextcloud): update mail fromAddress
  kubernetes/main/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(authentik): update email from address
  kubernetes/main/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(forgejo): update mail from address
  kubernetes/main/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(vikunja): update mail from address
  kubernetes/main/apps/default/vikunja/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(github-release): update flux group ( v2.7.4 → v2.7.5 ) (#3080)"
  kubernetes/storage/bootstrap/kustomization.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

Revert "fix(github-release): update flux group ( v2.7.4 → v2.7.5 ) (#3080)" (#3092)
  kubernetes/storage/bootstrap/kustomization.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes, cluster/storage

feat: install headlamp
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/headlamp/app/httproute.yaml
  kubernetes/main/apps/monitoring/headlamp/app/kustomization.yaml
  kubernetes/main/apps/monitoring/headlamp/app/rbac.yaml
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/headlamp/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

feat: install headlamp (#3094)
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/headlamp/app/httproute.yaml
  kubernetes/main/apps/monitoring/headlamp/app/kustomization.yaml
  kubernetes/main/apps/monitoring/headlamp/app/rbac.yaml
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
  kubernetes/main/apps/monitoring/headlamp/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main

fix(headlamp): update OIDC scopes
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(headlamp): generate kubeconfig
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(headlamp): try something stupid
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(headlamp): add storage cluster and switch to proxy auth
  kubernetes/main/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
  kubernetes/storage/apps/monitoring/headlamp/config/kustomization.yaml
  kubernetes/storage/apps/monitoring/headlamp/config/rbac.yaml
  kubernetes/storage/apps/monitoring/headlamp/ks.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

feat(headlamp): add storage cluster and switch to proxy auth (#3095)
  kubernetes/main/apps/identity/authentik/references/referencegrant.yaml
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/headlamp/app/secret.sops.yaml
  kubernetes/storage/apps/monitoring/headlamp/config/kustomization.yaml
  kubernetes/storage/apps/monitoring/headlamp/config/rbac.yaml
  kubernetes/storage/apps/monitoring/headlamp/ks.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

fix(headlamp): use correct volume name
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(headlamp): extraArgs need to go below config
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(headlamp): disable inCluster config
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(headlamp): correct subPaths
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: archive kube-web-view
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/rbac.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/secret.sops.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/ks.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/config/kustomization.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/config/rbac.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore: archive kube-web-view (#3096)
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/helmrelease.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/kustomization.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/rbac.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/app/secret.sops.yaml
  .archive/kubernetes/main/apps/monitoring/kube-web-view/ks.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/config/kustomization.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/config/rbac.yaml
  .archive/kubernetes/storage/apps/monitoring/kube-web-view/ks.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/storage/apps/monitoring/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore: archive weave-gitops
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/httproute.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/rbac.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/weave-gitops.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/httproute.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/rbac.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  .archive/kubernetes/storage/flux/repositories/helm/weave-gitops.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore: archive weave-gitops (#3097)
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/httproute.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/rbac.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/app/secret.sops.yaml
  .archive/kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
  .archive/kubernetes/main/flux/repositories/helm/weave-gitops.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/helmrelease.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/httproute.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/kustomization.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/rbac.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/app/secret.sops.yaml
  .archive/kubernetes/storage/apps/flux-system/weave-gitops/ks.yaml
  .archive/kubernetes/storage/flux/repositories/helm/weave-gitops.yaml
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/storage/apps/flux-system/kustomization.yaml
  kubernetes/storage/flux/repositories/helm/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/secrets.tf
Labels: area/kubernetes, area/terraform, cluster/main, cluster/storage

chore(headlamp): streamline config
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(headlamp): streamline config more
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(headlamp): use default kubeconfig path
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(headlamp): ok leave it like this
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(headlamp): enable caching
  kubernetes/main/apps/monitoring/headlamp/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( …"
  kubernetes/storage/components/common/repos/app-template.yaml
Labels: area/kubernetes, cluster/storage

Revert "feat(container): update image ghcr.io/bjw-s-labs/helm/app-template ( …" (#3128)
  kubernetes/storage/components/common/repos/app-template.yaml
Labels: area/kubernetes, cluster/storage
